CHPOE11/CHPOE11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Fri Feb 14 2020 13:14:12 GMT+0530 (India Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="CHPOE11Payload">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="DocumentHeader">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="SenderIdQualifier" type="xs:string"></xs:element>
                                                 <xs:element name="SenderId" type="xs:string"></xs:element>
                                                 <xs:element name="ReceiverIdQualifier" type="xs:string"></xs:element>
                                                 <xs:element name="ReceiverId" type="xs:string"></xs:element>
                                                 <xs:element name="VersionNumber" type="xs:string"></xs:element>
                                                 <xs:element name="TestProductionFlag" type="xs:string"></xs:element>
                                                 <xs:element name="MessageId" type="xs:string"></xs:element>
                                                 <xs:element name="ControlNumber" type="xs:int"></xs:element>
                                                 <xs:element name="SentDate" type="xs:int"></xs:element>
                                                 <xs:element name="SentTime" type="xs:int"></xs:element>
                                                 <xs:element name="PCSCommonRefNumber" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="eogrant">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="MessageType" type="xs:string"></xs:element>
                                                 <xs:element name="SiteID" type="xs:string"></xs:element>
                                                 <xs:element name="RotationNo" type="xs:int"></xs:element>
                                                 <xs:element name="RotationDate" type="xs:int"></xs:element>
                                                 <xs:element name="ShippingAgentCode" type="xs:string"></xs:element>
                                                 <xs:element name="ExpectedDateofCommencementofLoading" type="xs:int"></xs:element>
                                                 <xs:element name="DateofgrantofEntryOutward" type="xs:int"></xs:element>
                                                 <xs:element name="AmendmentStatus" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>