JMB_DFDL/PLTMEM.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="PLTMEM">
		<xsd:complexType>
			<xsd:sequence dfdl:outputNewLine="%LF;" dfdl:separator="">
				<xsd:element dfdl:initiator="UNH%GS;" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" name="UNH">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:separator="%GS;" dfdl:terminator="%CR;%LF;">
                            							                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value1" name="DocumentType" type="xsd:string"/>
                            							                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value2" name="DocumentName" type="xsd:string"/>
							<xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value3" name="DocumentNumber" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value4" name="CommonRefNumber" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value5" name="MessageType" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value6" name="SenderID" type="xsd:string"/>
                                                                            </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			<xsd:element dfdl:initiator="RPD%GS;" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" name="RPD">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
                            							                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value1" maxOccurs="unbounded" name="RecipientsID" type="xsd:string"/>
                            														                                                                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="NPD%GS;" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" name="NPD">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
                            							                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value1" maxOccurs="unbounded" name="NotifyPartyID" type="xsd:string"/>
                            														                                                                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="PMR%GS;" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" name="PMR">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
                            							                            <xsd:element ibmDfdlExtn:sampleValue="value1" minOccurs="0" name="RecordType" type="xsd:string"/>
                            														                                                                                                                                                                                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DeliveryOrderNumber" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="VCN" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="IMONumber" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="NextPortCall" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="OperationType" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="SACode" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="PilotRequiredDateAndTime" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DraftAft" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DraftFwd" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="VesselMovementFrom" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="BerthFrom" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="VesselMovementTo" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="BerthTo" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DistanceFromPortLimit" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="Bearing" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DateAndTimeOfReadiness" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DateAndTimeOfSubmission" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" minOccurs="0" name="DateAndTimeOfCancellation" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                
                <xsd:element dfdl:initiator="UNT%GS;" dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" name="UNT">
					<xsd:complexType>
						<xsd:sequence dfdl:outputNewLine="%CR;%LF;" dfdl:separator="%GS;" dfdl:terminator="%CR;%LF;">
                            							                            <xsd:element dfdl:outputNewLine="%CR;%LF;" ibmDfdlExtn:sampleValue="value1" name="DocumentCreatedDateandTime" type="xsd:string"/>
                            														                                                                                                                                                                                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>