CHPOE09/CHPOE09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Feb 10 2020 10:43:31 GMT+0530 (India Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="CHPOE09Payload">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="DocumentHeader">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="SenderIdQualifier" type="xs:string"></xs:element>
                                                 <xs:element name="SenderId" type="xs:string"></xs:element>
                                                 <xs:element name="ReceiverIdQualifier" type="xs:string"></xs:element>
                                                 <xs:element name="ReceiverId" type="xs:string"></xs:element>
                                                 <xs:element name="VersionNumber" type="xs:string"></xs:element>
                                                 <xs:element name="TestProductionFlag" type="xs:string"></xs:element>
                                                 <xs:element name="MessageId" type="xs:string"></xs:element>
                                                 <xs:element name="ControlNumber" type="xs:int"></xs:element>
                                                 <xs:element name="SentDate" type="xs:int"></xs:element>
                                                 <xs:element name="SentTime" type="xs:int"></xs:element>
                                                 <xs:element name="PCSCommonRefNumber" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="back_to_town">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="shutout">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="DocumentMessageTypeCode" type="xs:string"></xs:element>
                                                                      <xs:element name="CustomsOfficeSiteIDCode" type="xs:string"></xs:element>
                                                                      <xs:element name="ShippingBillID" type="xs:int"></xs:element>
                                                                      <xs:element name="ShippingBillDate" type="xs:int"></xs:element>
                                                                      <xs:element name="NatureOfCargoCode" type="xs:string"></xs:element>
                                                                      <xs:element name="ShutoutQuantity" type="xs:double"></xs:element>
                                                                      <xs:element name="UnitOfQuantity" type="xs:string"></xs:element>
                                                                      <xs:element name="WhetherCargoBackToTownIndicator" type="xs:string"></xs:element>
                                                                      <xs:element name="shutcont">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="DocumentMessageTypeCode" type="xs:string"></xs:element>
                                                                                           <xs:element name="CustomsOfficeSiteIDCode" type="xs:string"></xs:element>
                                                                                           <xs:element name="ShippingBillID" type="xs:int"></xs:element>
                                                                                           <xs:element name="ShippingBillDate" type="xs:int"></xs:element>
                                                                                           <xs:element name="ContainerID" type="xs:string"></xs:element>
                                                                                           <xs:element name="PackageNumber" type="xs:string"></xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
