XSDLibrary/CHPOI09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CHPOI09Payload">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SenderIdQualifier" type="xs:string"/>
							<xs:element name="SenderId" type="xs:string"/>
							<xs:element name="ReceiverIdQualifier" type="xs:string"/>
							<xs:element name="ReceiverId" type="xs:string"/>
							<xs:element name="VersionNumber" type="xs:string"/>
							<xs:element name="TestProductionFlag" type="xs:string"/>
							<xs:element name="MessageId" type="xs:string"/>
							<xs:element name="ControlNumber" type="xs:int"/>
							<xs:element name="SentDate" type="xs:int"/>
							<xs:element name="SentTime" type="xs:int"/>
							<xs:element name="PCSCommonRefNumber" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="manifest">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="be">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MessageType" type="xs:string" minOccurs="0"/>
										<xs:element name="CustomHouseCode" type="xs:string"/>
										<xs:element name="IGMNO" type="xs:int"/>
										<xs:element name="IGMDate" type="xs:int"/>
										<xs:element name="LineNumber" type="xs:int"/>
										<xs:element name="SubLineNo" type="xs:int"/>
										<xs:element name="BillofEntryNo" type="xs:int"/>
										<xs:element name="BillofEntryDate" type="xs:int"/>
										<xs:element name="DocumentType" type="xs:string"/>
										<xs:element name="IECode" type="xs:string"/>
										<xs:element name="ImportersName" type="xs:string"/>
										<xs:element name="ImporterAddressType">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ImportersAddress" type="xs:string"/>
													<xs:element name="ImpoetersCity" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PINCode" type="xs:string" minOccurs="0"/>
										<xs:element name="CHACode" type="xs:string"/>
										<xs:element name="NatureOfCargo" type="xs:string"/>
										<xs:element name="GrossWeight" type="xs:double" minOccurs="0"/>
										<xs:element name="UnitofQuantity" type="xs:string" minOccurs="0"/>
										<xs:element name="NumberofPackages" type="xs:int" minOccurs="0"/>
										<xs:element name="CountryofOrigin" type="xs:string"/>
										<xs:element name="DeclaredAssessableValue" type="xs:double"/>
										<xs:element name="CIFValueImporterDeclared" type="xs:double"/>
										<xs:element name="TotalCustomsDutyImporterCalculated" type="xs:double"/>
										<xs:element name="HSSIEC" type="xs:string"/>
										<xs:element name="HSSImporterName" type="xs:string" minOccurs="0"/>
										<xs:element name="HSSImporterAddress" type="xs:string" minOccurs="0"/>
										<xs:element name="HSSImporterAddress2" type="xs:string" minOccurs="0"/>
										<xs:element name="HSSImporterCity" type="xs:string" minOccurs="0"/>
										<xs:element name="HSSImporterPIN" type="xs:string" minOccurs="0"/>
										<xs:element name="becont" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MessageType" type="xs:string"/>
													<xs:element name="CustomHouseCode" type="xs:string"/>
													<xs:element name="IGMNO" type="xs:int"/>
													<xs:element name="IGMDate" type="xs:int"/>
													<xs:element name="LineNumber" type="xs:int"/>
													<xs:element name="SubLineNo" type="xs:int"/>
													<xs:element name="BillofEntryNo" type="xs:int"/>
													<xs:element name="BillofEntryDate" type="xs:int"/>
													<xs:element name="DocumentType" type="xs:string"/>
													<xs:element name="ContainerNo" type="xs:string"/>
													<xs:element name="beitems" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MessageType" type="xs:string"/>
																<xs:element name="CustomHouseCode" type="xs:string"/>
																<xs:element name="IGMNO" type="xs:int"/>
																<xs:element name="IGMDate" type="xs:int"/>
																<xs:element name="LineNumber" type="xs:int"/>
																<xs:element name="SubLineNo" type="xs:int"/>
																<xs:element name="BillofEntryNo" type="xs:int"/>
																<xs:element name="BillofEntryDate" type="xs:int"/>
																<xs:element name="InvoiceNumber" type="xs:string"/>
																<xs:element name="ItemSrNoInInvoice" type="xs:int"/>
																<xs:element name="ItemDescriptionAsDeclared" type="xs:string"/>
																<xs:element name="HSClassification" type="xs:int"/>
																<xs:element name="CIFValue" type="xs:double"/>
																<xs:element name="AssessableValueDeclared" type="xs:double"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
