JMB_DFDL/jmb/REQVAC.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="REQVAC">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:initiator="UNH%GS;" dfdl:terminator="" name="UNH">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="DocumentType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="DocumentName" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="DocumentNumber" type="xsd:string"/>
                            						<xsd:element name="CommonRefNumber" type="xsd:string"/>
                            <xsd:element name="MessageType" type="xsd:string"/>
                            <xsd:element name="SenderID" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			<xsd:element dfdl:initiator="RPD%GS;" dfdl:terminator="" minOccurs="0" name="RPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" maxOccurs="unbounded" minOccurs="0" name="RecipientsID" type="xsd:string"/>
														                            						                                                                                </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="NPD%GS;" dfdl:terminator="" minOccurs="0" name="NPD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" maxOccurs="unbounded" minOccurs="0" name="NotifyPartyID" type="xsd:string"/>
														                            						                                                                                </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="RAC%GS;" dfdl:terminator="" name="RAC">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="RecordType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" minOccurs="0" name="PCSRefNumberofCALINF" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="VIAVCN" type="xsd:string"/>
                            						<xsd:element minOccurs="0" name="IGMNo." type="xsd:string"/>
                            <xsd:element minOccurs="0" name="IGMDate" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="RotationNumber" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="RotationDate" type="xsd:string"/>
                            <xsd:element name="ServiceCategory" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="CurrencyCodeforpayment" type="xsd:string"/>
                            <xsd:element name="AgencyTypeQualifierCode" type="xsd:string"/>
                            <xsd:element name="AgencyCode" type="xsd:string"/>
                            <xsd:element name="Trade" type="xsd:string"/>
                            <xsd:element name="TradeStatusChange" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ExpectedStatusChangeDate" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="TDStobededucted" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="TerminalCodeDockCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="PaymentMode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="PDAccountNo" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ExpectedStayofVesselatBerth" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="DateoflastvisitVessel" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="TonnageonDeck" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="HarbourType" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="ChannelRoute" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="AplicantsBankMICRCode" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="AplicantsBankIFSC" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="AplicantsBANKACCOUNTNUMBER" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="EnterInBallast" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="BerthType" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="BilltopartyCode" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="VRD%GS;" dfdl:occursCountKind="implicit" dfdl:terminator="" maxOccurs="unbounded" name="VRD">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="RecordNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="RouteNo" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="VesselRoute" type="xsd:string"/>
                            						                                                                                </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="VAC%GS;" dfdl:terminator="" name="VAC">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="RecordType" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="RecordNumber" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="ServiceType" type="xsd:string"/>
                            						<xsd:element name="SubServiceType" type="xsd:string"/>
                            <xsd:element name="Quantity1" type="xsd:string"/>
                            <xsd:element name="UnitofMeasurementUnitQuantityCode1" type="xsd:string"/>
                            <xsd:element name="Quantity2" type="xsd:string"/>
                            <xsd:element name="UnitofMeasurementUnitQuantity" type="xsd:string"/>
                            <xsd:element name="FROMLOCATION" type="xsd:string"/>
                            <xsd:element name="TOLOCATION" type="xsd:string"/>
                            <xsd:element name="TUGUSEDINDICATOR" type="xsd:string"/>
                            <xsd:element name="PORTDOCKMOVEMENTINDICATOR" type="xsd:string"/>
                            <xsd:element name="LASHBARGEDUMBBARGEINDICATOR" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                <xsd:element dfdl:initiator="UNT%GS;" dfdl:terminator="" name="UNT">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%GS;" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="%CR;%LF;">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="DocumentCreatedDateandTime" type="xsd:string"/>
														                            						                                                                                </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>